.landingpage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
    .background-landingpage {
        height: 99.4%;
        width: 100%;
        position: fixed;
        z-index: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 8vh;
        width: 100vw;
        background-color: #00000072;
        z-index: 1;
        font-family: Ingrid Darling;
        color: #ffffff;

        .divLogo {
            display: flex;
            flex-direction: row;
            align-items: center;

            img {
                height: 5vh;
                margin-left: 1vw;
            }
    
            h2 {
                font-weight: normal;
            }
        }

        .divBotoes {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 5vh;
            width: 11vw;
            margin-right: 2vw;

            button {
                background-color: #000000;
                border: 1px solid #47D629;
                border-radius: .5vh;
                padding: .5vh 1vh .5vh 1vh;
                color: #ffffff;
                font-family: Nunito;
                transition: .3s;
            }

            button:hover {
                background-color: #47D629;
                color: #000000;
                transform: translateY(-0.5vh);
            }
        }
    }


    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 92vh;
        width: 100vw;
        z-index: 1;

        h1 {
            font-family: Nunito;
            font-size: 5vh;
            width: 21vw;
            color: #ffffff;
            text-align: center;
        }

        .divMae {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            height: 70vh;
            width: 70vw;
            margin-bottom: 5vh;

            .divsFilhas {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100%;
                width: 40%;
                background-color: #00000074;
                border-radius: 3vh;

                p {
                    text-align: center;
                    color: #ffffff;
                    font-family: Nunito;
                    margin: 2vh;
                }
                
                .divBotoes {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                    height: 20vh;
                    width: 15vw;
                    margin-top: 2vh;
        
                    button {
                        background-color: #000000;
                        border: 1px solid #47D629;
                        border-radius: .5vh;
                        padding: 1vh 1.5vh 1vh 1.5vh;
                        color: #ffffff;
                        font-family: Nunito;
                        transition: .3s;
                    }
        
                    button:hover {
                        background-color: #47D629;
                        color: #000000;
                        transform: translateY(-0.5vh);
                    }
                }

                .pSecundario {
                    text-align: center;
                    color: #ffffff;
                    font-family: Nunito;
                    font-size: 15px;
                }

                img {
                    height: 7vh;
                }
                
                a {
                    color: #47D629;
                    text-decoration: underline;
                    font-family: Nunito;
                }
            }
        }
    }
}

